.hero{
    &__caption{
        padding: 5.6vw;
        text-align: center;

        &__logo{
            @media (max-width: 768px){
                padding-top: 80px;
            }
            img{
                height: 300px;

                @media (max-width: 768px){
                    display: block;
                    width: 100%;
                    height: auto;
                    
                }
            }
        }
    }
}