.hero{
    position: relative;

    &__caption{
        padding: 5.6vw;
        text-align: center;

        @media (max-width: 768px){
            left: 3%;
        }

        &__logo{
            img{
                height: 300px;

                @media (max-width: 768px){
                    height: 20vh;
                }
            }
        }
    }
}