@use 'variaveis';

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px;
    background-color: #FFF;

    @media (max-width: 768px){
        max-width: 768px;
    }

    &__tabs{
        text-align: center;
        text-decoration: none;
        color: variaveis.$corDeFundo;

        &__item{
            display: inline;
            padding: 16px;

            &__link{
                text-decoration: none;
                color: variaveis.$corDeFundo;
            }
        }
    }
}